-- sample configuration file with keys and other things which get used from
-- time to time. rename this to Private.hs otherwise ghc will scream.
-- don't put anything too secret here, obviously.

module MooniesIO.Private where

import Import

baseMorningstarURL :: String
baseMorningstarURL = "http://www.example.com"
